IDI_ICON1 ICON DISCARDABLE "logo.ico"

#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif
 
VS_VERSION_INFO VERSIONINFO
    FILEVERSION 1,0,0,0
    PRODUCTVERSION 1,0,2,0
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L 
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080404b0"
            BEGIN
                VALUE "CompanyName", "牛师帮黑板组件测试\0"
                VALUE "FileDescription", "牛师帮黑板组件测试\0"
                VALUE "FileVersion", "1.0.0.0\0"
                VALUE "ProductVersion", "1.0.0.0\0"
                VALUE "LegalCopyright", "版权所有 (C) 牛师帮在线一对一\0"
                VALUE "LegalTrademarks", "牛师帮在线一对一\0"
                VALUE "OriginalFilename", "Niushibang_PC.exe\0"
                VALUE "ProductName", "牛师帮黑板组件测试\0"
                VALUE "InternalName", "Niushibang_PC.exe\0"
           END
        END

        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x804, 1200
        END
    END
